<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <h2>Life Gems Dashboard</h2>
    <p *ngIf="getTagCount()">Tags created: {{ getTagCount() }}</p>
    <p *ngIf="getTaggedArticlesCount()">Articles tagged: {{ getTaggedArticlesCount() }}</p>
    <p *ngIf="articlesCount">Insight articles: {{ articlesCount }}</p>
  </div>
  <ion-list>
    <ion-list-header>Insight Article</ion-list-header>
    <button *ngIf="randomArticle" ion-item (click)="viewArticle(randomArticle)">{{ randomArticle.title }}</button>
  </ion-list>
</ion-content>
