<ion-header>
  <ion-navbar>
    <ion-title>Insight</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="toggleOptions()">
        <ion-icon name="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding *ngIf="showOptions">
    <ion-segment [(ngModel)]="displayType">
      <ion-segment-button value="unread">
        Unread
      </ion-segment-button>
      <ion-segment-button value="articles">
        Articles
      </ion-segment-button>
      <ion-segment-button value="tags">
        Tags
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-searchbar *ngIf="showSearch" (ionInput)="filterItems($event)"></ion-searchbar>
  <ion-item-group>
    <div *ngFor="let item of articles">
      <ion-item-divider *ngIf="item.type === 'SECTION'" color="light">{{item.title}}</ion-item-divider>
      <button *ngIf="item.type === 'ARTICLE'" ion-item (click)="showArticle(item)">{{item.title}}</button>
    </div>
  </ion-item-group>
<!--
  <div [ngSwitch]="displayType">
    <div *ngSwitchCase="'unread'">
      <ion-alpha-scroll 
        *ngIf="unreadArticles" 
        [listData]="unreadArticles" 
        key="title"
        [currentPageClass]="currentPageClass"
        [itemTemplate]="articleTemplate">
      </ion-alpha-scroll>
    </div>
    <div *ngSwitchCase="'articles'">
      <ion-alpha-scroll 
        *ngIf="articles" 
        [listData]="articles" 
        key="title"
        [currentPageClass]="currentPageClass"
        [itemTemplate]="articleTemplate">
      </ion-alpha-scroll>
    </div>
    <div *ngSwitchCase="'tags'">
      <ion-alpha-scroll 
        *ngIf="tags" 
        [listData]="tags" 
        key="title"
        [currentPageClass]="currentPageClass"
        [itemTemplate]="articleTemplate">
      </ion-alpha-scroll>
    </div>
  </div>
-->
</ion-content>
